<form id="js-form">

  <div class="contact-wrapper">
    <div class="half left contact-input">
      <input type="text" name="name" id="name" placeholder="Name*">
    </div>
    <div class="half right contact-input">
      <input type="email" name="email" id="email" placeholder="Email*">
    </div>

    <div class="half left contact-input">
      <input type="text" name="company" id="company" placeholder="Company">
    </div>
    <div class="half right contact-input">
      <input type="tel" name="phone" id="phone" placeholder="Phone">
    </div>

    <div class="full contact-input">
      <textarea type="textarea" rows="4" name="message" id="message" placeholder="Your message*"></textarea>
    </div>

    <button class="btn btn-transparent float-right" id="submit" type="submit" onclick="return validateRegister();">Send Message</button>
    
  </div><!--/.contact-wrapper-->

</form>
