---
layout: default
bodyclass: page-interior
---
<div class="page-interior">

<section class="section-hero">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <h1 class="hero-title">{{ page.hero }}</h1>
      </div><!--/.col-->
    </div><!--<!--/.row-->
  </div><!--/.container-->
</section>

<section class="interior-content">
  <div class="container-fluid">
    <div class="row">
     {{ content }}
    </div>
  </div><!--/.container-fluid-->
</section>


</div><!--/.page-interior-->