---
layout: default
bodyclass: post
---
<div class="post">
    
    <section class="section-hero">
      <div class="container">
        <div class="row hero-content">
          <div class="col-xs-12 col-sm-10">
            <h1 class="hero-title">{{ page.title }}</h1>
            <div class="hero-scroll">
              <a href="#more"><span></span></a>
            </div><!--/.hero-scroll-->
          </div><!--/.col-->
        </div><!--<!--/.row-->
      </div><!--/.container-->
    </section>
    
    <section class="interior-content section-wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 entry-content">
            {{ content }}
          </div>
        </div>
      </div>
    </section>
    
    
</div><!--/.post-->