// PAGE
// Global page elements


// Global page containers, wrappers
.site-wrapper {
  //padding-top: 100px;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  @media (max-width: $bp-md) {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-fluid {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

// Section-specific
.section-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {}

.section-heading {
  margin-bottom: 20px;
}


// Page-specific
.page-home {
  .section-header {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('/assets/images/home-bg.png');
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 377px 700px;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
  .section-title {
    text-transform: none;
  }
}

.home-block {
  border-top: 1px solid #D1D3D4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
  @media (max-width: $bp-md) {
    flex-direction: column-reverse;
  }
}
.half {
  width: calc(50% - 10px);
  @media (max-width: $bp-md) {
    width: 100%;
  } 
}
.left {
  padding-right: 8.5%;
}