// PAGE
// Global page elements


// Global page containers, wrappers
.site-wrapper {}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  @media (max-width: $bp-md) {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: $bp-md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.half {
  width: calc(50% - 15px);
  @media (max-width: $bp-md) {
    width: 100%;
  } 
}
.left {
  padding-right: 8.5%;
}

// Section-specific
.section-wrap {
  padding-top: 90px;
  padding-bottom: 90px;
  @media (max-width: $bp-md) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.section-hero {
  .hero-title {
    padding-top: 200px;
    margin-bottom: 125px;
    text-transform: none;
    animation: fadeIn 1.5s ease-in;
  }
  .hero-scroll {
    position: absolute;
    width: auto;
    bottom: 140px;
    margin-left: 15px;
    z-index: 500;
    a {
      color: $color-body;
      font-size: rem(14);
      font-style: italic;
      text-decoration: none;
      transition: color 0.3s ease-out;
    }
    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 1em;
      height: 1em;
      margin-left: -9px;
      border-left: 1px solid rgba($color-body, 0.8);
      border-bottom: 1px solid rgba($color-body, 0.8);
      transform: rotate(-45deg);
      animation: scrollDown 1.5s infinite;
    }
  }
}

.section-title {}

.section-heading {
  margin-bottom: 20px;
}

.section-hero {
  position: relative;
  color: $color-body;
  background: $color-gray;
  background-image: url('/assets/images/home-bg-dust.png');
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh; //full-height
  display: flex; //vertical center
  flex-flow: column wrap;
  justify-content: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/assets/images/home-bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 377px 700px;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}


// Page-specific
.page-home {}

// Page-interior
.page-interior {
  .interior-content {}
  .interior-title {}
}

// Page-about
// About intro
.about-intro {}
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-content {}
.about-service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 60px 0 0;
  .service-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    @media (max-width: $bp-md) {
      border-bottom: 1px solid #eee;
    }
  }
}

// About Work Process
.work-process {
  background-color: $color-black;
  color: $color-white;
  background-image: url('');
  background-repeat: no-repeat;
}
.work-process-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .work-process-content {
    padding-left: 60px;
    position: relative;
    &:before {
      color: #A7A9AC;
      content: attr(data-title);
      font-size: rem(14);
      left: 0;
      line-height: 3;
      position: absolute;
      margin-top: -8px;
      font-style: italic;
    }
  }
}
.work-process-heading {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: $color-white;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


// projects-list-limit blocks
.project-block {
  border-top: 1px solid #D1D3D4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
  @media (max-width: $bp-md) {
    flex-direction: column-reverse;
  }
  * {
    padding: 10px 0;
  }
  img {
    margin-bottom: 0;
  }
}

// projects-list-all blocks
.project-block-lg {
  background: $color-body;
  color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 30px;
  @media (max-width: $bp-md) {
    flex-direction: column;
  }
  .left {
    width: 66.666%;
    padding-right: 0;
    @media (max-width: $bp-md) {
      width: 100%;
    }
  }
  .right {
    width: 33.333%;
    padding: 50px;
    @media (max-width: $bp-md) {
      width: 100%;
    }
  }
}

// posts list
.posts-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  @media (max-width: $bp-md) {
    flex-wrap: wrap;
  }
  .post-item {
    position: relative;
    width: calc(33.333% - 20px);
    min-height: 500px;
    margin: 0;
    padding: 50px;
    border: 2px solid $color-secondary;
    background: transparent;
    transition: background 0.2s ease-in-out;
    @media (max-width: $bp-md) {
      width: 100%;
      margin-top: 15px;
    }
    &:hover, &:focus {
      background: $color-body;
      * {
        color: $color-white!important;
      }
    }
    .btn {
      position: absolute;
      bottom: 30px;
      right: 0;
    }
  }
}